*{
    /* background-color: darkslategrey; */
    margin: 0px;
    padding: 0PX;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 400px;
    width: 100%;
    position:fixed;
    padding-bottom: -50px;
    backface-visibility: visible;
    padding-top: 40px;
    backdrop-filter: blur(5px);
    height: 60px;

}
#logo{
    margin-top: -35px;
}
.links{
    display: flex;
    gap: 80px;
    text-decoration: none;
    /* margin-top: 10px; */
    list-style-type: none;
    font-size: 20px;
    font-weight: 900;
}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.links a:hover{
    color: rgb(225, 196, 0);
}

.bg-image{
    background-image: url(Images/bg-img.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    /* margin-top: -140px; */
    /* box-sizing: border-box;
    filter: blur(10px); */
}

#caption{
    padding-top: 280px;
    font-size:40px;
    margin-left: 100px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family:monospace;
    font-family:'Trebuchet MS';
}
.home-button{
    padding-left: 100px;
    display: inline-flex;
    gap: 150px;
    padding-top: 60px;
}
.home-btn{
    background-color: rgb(225, 196, 0);
    color:rgb(0, 0, 0) ;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    font-size: large;
    font-family: verdana;
    font-weight: 800;

}
.home-btn:hover{
    color: rgb(225, 196, 0);
    background-color: rgb(255, 255, 255);
}

/* About */
.about{
    display: flex;
    justify-content: center;
    margin: 60px 40px 40px 40px;

}
.abt-img img{
    border-radius: 20px;
}

.abt-content{
    margin: 50px;
    font-size: larger;
}
#abt-head{
    display: flex;
    justify-content: center;
    color: rgb(225, 196, 0);
    margin-bottom: 20px;
    margin-top: -30px;
}

/* Shop */

.shop{
    margin-top: 20px;
}
#shopnow{
    text-align: center;
    font-size: 50px;
    font-weight:bolder;
}

  
  .listing-section {
    width: 100%;
    float: left;
    padding: 1%;
    border-bottom: 0.01em solid #dddbdb;
  }
  
  .product {
    float: left;
    width: 22.5%;
    border-radius: 2%;
    margin: 1%;
  }
  
  .product:hover {
    box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
    -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
  }
  
  .image-box {
    width: 100%;
    overflow: hidden;
    border-radius: 2% 2% 0 0;
  }
  
  .pr-images {
    height: 15em;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    border-radius: 2% 2% 0 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  
  .pr-images:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 2%;
  }
  
  /* IMAGES */
  #pr-image-1 {background-image: url("./Images/teabox.jpg");}
  
  #pr-image-2 {background-image: url("./Images/teabox2.jpg")}
  
  #pr-image-3 {background-image: url("./Images/teabox3.jpg")}
  
  #pr-image-4 {background-image: url("./Images/teabox4.jpg")}
  
  #pr-image-5 {background-image: url("./Images/teabag.jpg")}
  
  #pr-image-6 {background-image: url("./Images/teabag2.jpg")}
  
  #pr-image-7 {background-image: url("./Images/teabag3.jpg")}
  
  #pr-image-8 {background-image: url("./Images/teabag4.jpg")}

  
  .pr-box {
    width: 100%;
    float: left;
    border: 0.01em solid #fff458;
    border-radius: 0 0 2% 0%;
    padding-top: 5px;
  }
  
  .pr-box h2, h3 {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.2em auto;
  }
  
  .item, .price {
    clear: left;
    width: 100%;
    text-align: center;
  }
  
  .price {
    color: Grey;
  }
  
  .description, label, button, input {
    float: left;
    clear: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    margin: 0.2em auto;
  }
  
  input:focus {
    outline-color: #fdf;
  }
  
  label {
    width: 60%;
  }
  
  .text-box input {
    width: 15%;
    clear: none;
  }
  
  .text-box button {
    margin-top: 1em;
  }
  
  .pr-box button {
    padding: 4%;
    background-color: rgb(225, 196, 0);
    border: none;
    border-radius: 5%;
    margin: 2%;
    width: 96%;
  }
  
  .pr-box button:hover {
    bottom: 0.1em;
  }
  
  .pr-box button:focus {
    outline: 0;
  }
  
  .pr-box button:active {
    bottom: 0;
    background-color: #fdf;
  }
  

  